/* ROUNDED THEME FOR ROFI */
/* Original Author: Newman Sanchez (https://github.com/newmanls) */

* {
    bg0:rgba(48, 42, 36, 0.64);
    bg1:rgba(53, 44, 36, 0.4);
    bg2:rgba(61, 61, 61, 0.5);
    bg3:rgb(125, 158, 105);
    fg0:    #E6E6E6;
    fg1:    #FFFFFF;
    fg2:rgb(150, 150, 150);
    fg3:rgb(255, 255, 255);
}

@import "template/rounded-template.rasi"
